.loremPara {
    width: 85%;
    margin-left: 4.5%;
    padding-left: auto;
}

.loremButtons {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
}

.nurseryHeading {
    margin-left: 4.5%;
}