.loremPara {
    width: 85%;
    margin-left: 4% !important ;
    padding-left: auto;
    margin-bottom: 20px !important;
}

.loremButtons {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
}

.nurseryHeading {
    margin-left: 4% !important;
}