* {
  font-family: 'Roboto';
}

.filterAndProductClass {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width:990px) {
  .filterAndProductClass {
    flex-direction: column;
  }
}